.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   min-height: 500px;
}

.Card {
   width: 500px;
   padding: 40px;
}

.buttonWrapper {
   display: flex;
   justify-content: flex-end;
}
