@import 'Styles/variables.scss';

.Sider {
   height: 100vh;
   position: fixed;
   left: 0;
   z-index: 100;
   border-right: 1px solid #f2f2f2;
   overflow-x: hidden;
   overflow-y: auto;
}

.logoWrapper {
   height: $appHeaderHeight;
   width: 100%;
   display: flex;
   align-items: center;
   margin-bottom: 1px;
}

.logoWrapperCollapsed {
   justify-content: center;
   padding-left: 0;
}

.logoWrapperExpanded {
   justify-content: left;
   padding-left: 10px;
}

.logoImage {
   height: 40px;
}
.title {
   margin: 0 0 0 5px;
   font-size: 16px;
}

.Menu {
   border-right: none;
}
