.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px 20px;
}

.h1 {
   margin: 20px;
}

.linkContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 500px;
}

.Link {
   margin: 5px 10px;
}
