.container {
   justify-content: center;
   flex-direction: column;
   align-items: center;
   display: flex;
   padding: 10px 20px;
}

.h1 {
   margin: 20px;
}

.imageContainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 10px 20px;
}

.img {
   width: 200px;
}

.Button {
   margin-top: 20px;
}
